@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h1 class="display-6">My Favorites</h1>
    This website lists my top 5 favorite albums, books, and games!
</div>